.header {
    background-color: orange;
  }
  .main-section {
    display: grid;
    grid-template-columns: repeat(1,100%);
  }
  @media (min-width: 992px) {
    .main-section {
      display: grid;
      grid-template-columns: repeat(2,50%);
    }
  }
  section {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .footer {
    background-color: rgb(234, 250, 15);
    padding: 1rem;
  }
  .article-one {
    background-color: pink;
  }
  .article-two {
    background-color: gold;
  }
  .article-three {
    background-color: purple;
  }
  .article-four {
    background-color: green;
  }
  .main-section > article {
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(172, 155, 155);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(226, 40, 127);
  }
  
  .active {
    background-color: #4f8ae2;
  }